@mixin theme-lighter {color:#000 !important; background-color:#f7faf6 !important}
@mixin theme-light {color:#fff !important; background-color:#82b74b !important}
@mixin theme-dark {color:#fff !important; background-color:#405d27 !important}
@mixin theme-darker {color:#fff !important; background-color:#3e4444 !important}
@mixin theme-action {color:#000 !important; background-color:#c1946a !important}
